body {
    margin: 0 auto;
    border: 1px solid black;
    width: 560px;
    position: relative;
}

.image {
    margin: 0;
    padding: 0;
    display: flex;
}

.content {
    padding: 0 20px 30px 20px;
    margin: 0;
}

.fixed {
    position: absolute;
    top: 0;
    right: 0;
}